.profile-container {
  padding: 16px;
  padding-bottom: 135px;

  .profile-info {
    display: flex;
    gap: 32px;
    align-items: stretch !important;
    .profile-avatar {
    }
    .profile-info-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .profile-name {
        // prettier-ignore
        font-size: 18Px;
        font-weight: bold;
      }
      .profile-email {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }

  .profile-personal {
    .profile-personal-cell-title {
      display: flex;
      align-items: center !important;
      gap: 12px;
    }
  }
}

.login-btn {
  margin: 32px 0;
}
