.player-full-container {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 64px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .player-full-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .player-full-cover {
      border-radius: 16px;
      margin-bottom: 32px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35), 0 8px 20px rgba(0, 0, 0, 0.25);
    }

    .player-full-title {
      // prettier-ignore
      font-size: 20Px;
      font-weight: bold;
    }

    .player-full-artist {
      color: #505259;
    }

    .player-full-lyrics {
      margin-top: 16px;
      height: 200px;
      .lyric-line {
        display: block;
        padding: 8px 0;
        text-align: center;
        color: #505259;
        // prettier-ignore
        font-size: 16Px;
        line-height: 1.6;
      }
      .lyric-line.active {
        color: #000000;
        // prettier-ignore
        font-size: 18Px;
        font-weight: bold;
      }
    }
  }

  .player-full-controls {
    .player-full-actions {
      padding: 0 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 48px;
      color: #505259;

      .player-full-share {
        position: relative;
        .player-full-share-btn {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }
    .player-full-slider {
      margin: 0;
    }
    .player-full-time-info {
      display: flex;
      justify-content: space-between;
      color: #505259;
      // prettier-ignore
      font-size: 12Px;
    }
    .player-full-buttons {
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
