.song-actions-popup-container {
  padding: 16px;
  .song-actions-popup-title {
    display: flex;
    align-items: center !important;
    gap: 24px;
  }
}

.divider-small {
  margin: 8px 0 !important;
}
